<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Практическая_работа__2.Properties.Settings.Сотрудники1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Сотрудники1.accdb"
            providerName="System.Data.OleDb" />
        <add name="Практическая_работа__2.Properties.Settings.Сотрудники1ConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.16.0;Data Source=|DataDirectory|\Сотрудники1.accdb"
            providerName="System.Data.OleDb" />
        <add name="Практическая_работа__2.Properties.Settings.EmployeesConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.16.0;Data Source=|DataDirectory|\Employees.accdb"
            providerName="System.Data.OleDb" />
        <add name="Практическая_работа__2.Properties.Settings.OrganizationConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Organization.accdb"
            providerName="System.Data.OleDb" />
        <add name="Практическая_работа__2.Properties.Settings.EmployeesConnectionStringTrips"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Employees.accdb"
            providerName="System.Data.OleDb" />
        <add name="Практическая_работа__2.Properties.Settings.Business_tripsConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;|DataDirectory|\Business trips.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>